<div class="wrapper">
  <app-menu-title></app-menu-title>

  <div class="container__articles">
    <div class="articles__main">

      <app-big-card Id="1" section="mt" photoCover="https://www.digitalrally.com.br/angular/CAPADIAGRAMACAO.png" cardTitle="MATEMATICANDO - CRIANDO AMBIENTE DE ESTUDOS"
        cardDescription="Bem vindo ao canal do Professor DOM. Seu canal sobre Matemática, Programação e Jogos. Este é um dos nossos primeiros videos que criamos para o canal, demonstrando a criação do nosso ambiente de estudos para ser utilizado no canal.">
      </app-big-card>

    </div>
    <div class="articles__others">
      <div class="others__title">
        <h2>CANAIS</h2>
      </div>
      <app-small-card Id="2" cardTitle="Progmática"
        photoCover="https://i.ytimg.com/an_webp/Sjs7wJxEgoY/mqdefault_6s.webp?du=3000&sqp=COqi364G&rs=AOn4CLDzA3HHr7qvw5ukBk9APksEDZKw_A">
      </app-small-card>

      <app-small-card Id="3" cardTitle="Matematicando"
        photoCover="https://i.ytimg.com/an_webp/nucA0hSP9B4/mqdefault_6s.webp?du=3000&sqp=CPKC364G&rs=AOn4CLCzLiMe5Z7hZCRWrNSk9o9J-fxW0w">
      </app-small-card>
    </div>
  </div>
</div>