<div class="footer">
    <div class="column">
        <h3>DOUGLAS RAMOS</h3>
        <span>Projeto desenvolvido durante Bootcamp</span><br>
        <span><b>Desenvolvimento Front-End com Angular</b></span>
    </div>
    <div class="column">

    </div>
    <div class="column">
        <div class="container-socialmedia">
            <div class="socialmedia-logo">
                <a href="https://www.instagram.com/profdomdev/" target="_blank">
                    <img src="assets/imgs/instagram80x80.png" alt="Logotipo do Instagram" />
                </a>
            </div>

            <div class="socialmedia-logo">
                <a href="https://www.youtube.com/channel/UC9cGKfFU0ZG-TvNLbfYUTEg" target="_blank">
                    <img src="assets/imgs/logoyoutube.jpg" alt="Logotipo do youtube" />
                </a>
            </div>

            <div class="socialmedia-logo">
                <a href="https://www.linkedin.com/in/douglas-ramos-dev" target="_blank">
                    <img src="assets/imgs/linkedin.png" alt="Logotipo do Linkedin" />
                </a>
            </div>
            <div class="socialmedia-logo">
                <a href="https://github.com/douginfodev" target="_blank">
                    <img src="assets/imgs/logogit.png" alt="Logo do repositorio GitHub" />
                </a>
            </div>
        </div>
    </div>
</div>
