/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  color:antiquewhite;
}

:root{
  font-family: 'Montserrat', serif;
  font-size: 62.5%;
}

body{
  background-color: black;
}

main{
  margin:0 auto;
  padding:10px;
  width: 1080px;
  height: auto;
  background-color: #1b1121;
}

button{
  width:450px;
  height: 50px;
  font-size: 1.4rem;
  color: lime;
  text-transform: uppercase;
  margin: 3.0px;
}
