<div class="container__content">
  <div class="content__incorporate">
    <video width="320" height="240" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    {{ incorporate }}
  </div>
  <div class="content__cover">
    <img src="{{ photoCover }}" alt="" srcset="">
  </div>
  <div class="content__title">
    <h1>{{ contentTitle }}</h1>
    <hr />
  </div>
  <div class="content__description">
    <a [routerLink]="['']"> << VOLTAR </a>
    <p>
      {{ contentDescription }}
    </p>
  </div>
</div>
