<div class="container__menu-bar">
  <ul>
    <a href="https://www.linkedin.com/in/douglas-ramos-dev/">
      <li><img src="https://www.digitalrally.com.br/angular/linkedin.png" alt="linkedin" width="24px" height="24px">
      Linkedin</li>
    </a>
    <li></li>
    <a href="https://github.com/douginfodev">
    <li><img src="https://www.digitalrally.com.br/angular/logogit.png" alt="githun" width="24px" height="24px">Github</li>
    </a>
    <li></li>
    <a href="https://www.instagram.com/profdom/">
      <li><img src="https://www.digitalrally.com.br/angular/instagram80x80.png" alt="likedin" width="24px" height="24px">Instagram</li></a>
  </ul>
</div>
