<div class="quizz__container">
  <header>
    <div class="quizz_logo_bootcamp">
      <img src="assets/imgs/logobootcamp.png" alt="" srcset="">
    </div>

    <div class="quizz_logo">
      <img src="assets/imgs/logo1.png" alt="" srcset="">
    </div>

    <div class="quizz_logo_dio">
      <img src="assets/imgs/logodio.png" alt="" srcset="">
    </div>
  </header>

  <div *ngIf=!finished class="quizz_questions">
   <div class="questions"> 
    <h1>{{numero}}</h1>
    <h3>{{questionSelected.question}}</h3>
  </div>
  <div *ngIf=!finished class="quizz_options">

    <button *ngFor="let option of questionSelected.options; let i = index" (click)="playerChoose(option.alias)"
      class="btn-option">
      {{option.name}}
    </button>

  </div>
  </div>

  <div *ngIf=finished class="quizz_results">
    <h1>Resultado:</h1>
    <p>{{answerSelected}}</p>
  </div>
</div>