.quizz__container{
  width: 98%;
  margin: auto;
  margin-top: 20px;
  background-color: #06010b;
  border-radius: 10px;
}
h1{
  color: #45ff5a;
}
header{
  display:flex;
  width:100%;
  height:auto;
  background-color: black;
  border-radius: 10px;
}

.quizz_logo_bootcamp,
.quizz_logo_dio
{
  display:flex;
  width:15%;
  height:auto;
  padding:10px;
  align-items: center;
  justify-content: center;
}

.quizz_logo_bootcamp img,
.quizz_logo_dio img
{
  width: 90%;
  height:auto;
}

.quizz_logo{
  width:70%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizz_logo img{
  width: 50%;
  height: auto;
}

.quizz_logo > h3{
  margin-top: 20px;
}

.quizz_questions{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #4224d9;
  border-radius: 8px;
  background-color: #222222;
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', serif;
  margin-bottom: 20px;
  padding: 10px;
  background-image: url('./../../../assets/imgs/backroxo.png');
}

.questions{
  width: 60%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizz_options{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  margin-bottom: 20px;
}

.btn-option{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #18ab29;
  width: 70%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn-option:hover{
  background-color: lightgreen;
  color:#536e44;
  font-weight: 700;
}

.btn-option:active{
  position: relative;
  top:1px;
}

.quizz_results{
  width: 100%;
  height: 350px;
  background-color: #1F0539;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  font-size: 2.0rem;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizz_results p{
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}
